<h2>Insert a Celebrity </h2>

<form action="/celebrities/new" method="POST">
<label> Name
    <input type="text" name="name">
</label>

<label>
    Occupation
    <input type="text" name="occupation">
</label>
<label>
    Catch Phrase
    <textarea name="catchPhrase" cols="20" rows="2"></textarea>
</label>

<button type="submit">Create</button>
</form>